.app {
  padding: 30px;
}

.todo {
  align-items: center;
  display: flex;
  font-size: 20px;
  background-color: rgb(5, 228, 253);
  justify-content: space-between;
}

.bg-image {
  background-image: url('https://media.istockphoto.com/id/528917390/photo/blank-notepad-eye-glasses-coffee-pen-and-smart-phone.jpg?s=612x612&w=0&k=20&c=DTIL-A6hoyvV_eyjXQNpwAGdb-aUuW30rz5YO8Mblnk=');
  height: 300px;
  background-position: center;
  /* Make the background image cover the area of the <div>, and clip the excess */
  background-size: cover;
  font-size: 80px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: cursive;
  font-style: italic;
  text-shadow: 2px 4px 2px #000000, -.01px 0px 4px 	#b3b3b3;
}

#blueCard {
  background-color: rgb(5, 228, 253);
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 3px #111111;
  font-family: cursive;
  border: 1px solid rgb(90, 90, 90);
}

table {
  border: 2px solid;
  width: 100%;
  background-color: #fd8bf7;
  font-weight: bolder;
}
table thead {
  font-size: x-large;
  font-weight: bolder;
  border: 2px solid black;
  background-color: #f72cd9;
  color: white;
}
table tr {
  border: 1px solid black;
  height: 50px;
}
table th {
  border: 1px solid rgb(100, 100, 100);
  font-weight: normal;
  padding: 3px;
}
table tbody{
  font-size: large;
}
tr:nth-child(even) {background-color: #fca0ff;}
tr:hover {background-color: rgb(5, 228, 253);}